<%- include('../partials/header') %>

<section class="px-4 my-5">
  <h3>Recipe Name</h3>
<%= recipe.name %> <br>
<h4>Recipe Description</h4>
<div style="white-space: pre-line;"><%= recipe.description %></div> <br>
<h4>Ingredients</h4>
<div style="white-space: pre-line;"><%= recipe.ingredients %></div>
</section>

<section class="px-4 my-5">
<h4>Reviews</h4>
<form id="add-review-form" method="POST"
  action="/recipes/<%= recipe._id %>/reviews">
  <textarea name="content"></textarea><br>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br><br>
  <input type="submit" value="Add Review">
</form>
</section >
<section class="px-4 my-5">
  <h4>Update Review</h4>
<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
  <!-- Value attribute is being set to the comment's current text -->
  <input name="text" value="<%= recipe.text %>"><br><br>
  <button type="submit">UPDATE REVIEW</button>
</form>
</section>
<section id="review">
  <section class="px-4 my-5">
<% if (recipe.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% recipe.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
</section>
<%- include('../partials/footer') %>